<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" tabindex="-1" role="dialog" th:fragment="order_modal" id="order_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                收件人：<span id="receiver"></span><br>
                电 话 ：<span id="phone"></span><br>
                地 址 ：<span id="location"></span><br>
                订单生成日期：<span id="time"></span><br>
                订单状态：<span id="state"></span>
                <div class="panel panel-default">
                    <div class="panel-heading">商品：</div>
                    <div class="panel-body">

                    </div>
                </div>
                总价：<span id="total"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>