<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.zjm.model.Admin">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="inductDate" jdbcType="DATE" property="inductdate" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, name, sex, phone, inductDate, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByExample" parameterType="Admin" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM admin
    <where>
      <if test="id != null">
        id = #{id},
      </if>
      <if test="name != null and name != ''">
        name = #{name},
      </if>
      <if test="password != null and password != ''">
        password = #{password},
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjm.model.Admin">
    insert into admin (Id, name, sex, 
      phone, inductDate,password)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{phone,jdbcType=VARCHAR}, #{inductdate,jdbcType=DATE}, #{password})
  </insert>
  <insert id="insertSelective" parameterType="com.zjm.model.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="inductdate != null">
        inductDate,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inductdate != null">
        #{inductdate,jdbcType=DATE},
      </if>
      <if test="password != null">
        #{password},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjm.model.Admin">
    update admin
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inductdate != null">
        inductDate = #{inductdate,jdbcType=DATE},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjm.model.Admin">
    update admin
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      inductDate = #{inductdate,jdbcType=DATE},
      password = #{password}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>