<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.dao.Collection_UserMapper">
  <resultMap id="BaseResultMap" type="com.zjm.model.Collection_User">
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <association property="good" javaType="Good">
      <result column="goodid" property="id" />
      <result column="goodname" property="name" />
    </association>
  </resultMap>

  <resultMap id="GoodMap" type="Good">
    <result column="goodid" property="id" />
    <result column="goodname" property="name" />
    <result column="pic" property="pic" />
    <result column="info" property="info" />
    <result column="price" property="price" />
    <result column="sellnum" property="sellnum" />
    <result column="shopId" property="shopId" />
    <result column="shopname" property="shopName" />
  </resultMap>
  <insert id="insert" parameterType="com.zjm.model.Collection_User">
    insert into collection_user (userId, goodId)
    values (#{userId,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER})
  </insert>

  <select id="selectCollectionByUser" parameterType="int" resultMap="GoodMap">
    SELECT collection_user.goodid, good.name goodname, good.pic,good.price,good.info,good.sellnum,shop.id shopId,shop.name shopname from collection_user, good,shop
    where collection_user.goodid = good.id
    and good.shopid = shop.id
    and collection_user.userid = #{id}
  </select>

  <delete id="delete" parameterType="Collection_User">
    DELETE from collection_user where collection_user.goodid = #{goodId} and userid = #{userId}
  </delete>

  <select id="isCollected" parameterType="Collection_User" resultType="Collection_User">
    SELECT * FROM collection_user where collection_user.goodid = #{goodId} and userid = #{userId}
  </select>

</mapper>