<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.dao.Order_GoodMapper">
  <resultMap id="BaseResultMap" type="com.zjm.model.Order_Good">
    <result column="id" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <association property="good" javaType="Good">
      <id column="good_id" property="id" />
      <result column="name" property="name" />
      <result column="info" property="info" />
      <result column="pic" property="pic" />
      <result column="deliveryFee" property="deliveryFee" />
      <association property="shop" javaType="Shop">
        <id column="shopId" property="id" />
        <result column="shopName" property="name" />
      </association>
    </association>
    <association property="size" javaType="Size">
      <result column="sizeName" property="name" />
      <result column="sizePrice" property="price" />
      <result column="sizeImg" property="img" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    order_good.id, good.id good_id, good.name, good.info, good.pic, good.deliveryFee,order_good.num, shop.id shopId,
    shop.name shopName, size.name sizeName, size.price sizePrice, size.img sizeImg
  </sql>

  <select id="selectByOrderId" parameterType="String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from order_good,good ,shop, size
    WHERE order_good.goodId = good.id
    and
    good.shopid = shop.id
    and
    order_good.tabId = size.id
    and
    order_good.orderId = #{_parameter}
  </select>

</mapper>