<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zjm.model.Order">
    <id column="order_Id" jdbcType="VARCHAR" property="id" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="total" property="total" />
    <result column="message" property="message" />
    <association property="user" javaType="User">
      <result column="username" property="nickname" />
    </association>
    <association property="address" javaType="Address">
      <result column="address" property="location" />
    </association>
    <collection property="order_goodList" column="order_Id" select="com.zjm.dao.Order_GoodMapper.selectByOrderId"/>
  </resultMap>
  <sql id="Base_Column_List">
   _order.Id order_Id, _order.total, message, time, state, user.nickname username, address.location address
  </sql>
  <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from _order, address, USER where
    _order.addressid = address.id and
    _order.userid = user.id and
    _order.Id = #{_parameter}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from _order
    where Id = #{_parameter}
  </delete>
  <insert id="insert" parameterType="com.zjm.model.Order">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into _order (Id, addressId, userId,
      time, state, total,message)
    values (#{id,jdbcType=VARCHAR}, #{addressId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{time,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{total},#{message})
  </insert>

  <insert id="insertOrderGood" parameterType="Order_Good">
    insert into order_good (orderid, goodid, tabid, num) VALUES
    (#{orderId}, #{goodId}, #{tabId}, #{num})
  </insert>

  <select id="selectOrderByExample" parameterType="Order" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from _order, address, USER
    <where>
      and _order.addressid = address.id
      and _order.userid = user.id
      <if test="state != null and state != ''">
        and _order.state = #{state}
      </if>
      <if test="userId != null and userId != ''">
        and _order.userId = #{userId}
      </if>
    </where>
    order BY time
  </select>

  <update id="updateState" parameterType="Order">
    UPDATE _order set state = #{state} WHERE id = #{id}
  </update>
</mapper>