<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.dao.ShopCarMapper">
  <resultMap id="BaseResultMap" type="com.zjm.model.ShopCar">
    <result column="id" javaType="INTEGER" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <association property="good" javaType="Good">
      <result column="goodId" property="id" />
      <result column="name" property="name" />
      <result column="price" property="price" />
      <result column="pic" property="pic" />
      <result column="info" property="info" />
      <association property="shop" javaType="Shop">
        <result column="shopid" property="id" />
        <result column="shop_name" property="name" />
      </association>
    </association>
  </resultMap>
  
  <sql id="Base_Column_list">
    shopcar.id, shopcar.goodId, shopcar.num, good.name, good.pic, good.price, good.info, shop.id shopid, shop.name shop_name
  </sql>
  
  <insert id="insert" parameterType="com.zjm.model.ShopCar">
    insert into shopcar (userId, goodId, num)
    values (#{userId,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER})
  </insert>
  
  <select id="selectByUserKey" parameterType="Shop" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_list" />
    from shopcar
    left join good on good.id = shopcar.goodid
    left join shop on shop.id = good.shopid
    where shopcar.userid = #{id}
  </select>

  <select id="select" parameterType="ShopCar" resultType="int">
    select count(goodid) from shopcar where userId = #{userId} and goodId = #{goodId}
  </select>

  <delete id="delete" parameterType="Integer">
    delete FROM shopcar where id = #{id}
  </delete>

  <delete id="deleteIds" parameterType="int">
    delete from shopcar where id IN
    <foreach item="item" collection="array" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="update" parameterType="ShopCar">
    UPDATE shopcar set num = #{num} where id = #{id}
  </update>

</mapper>