<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.zjm.model.Shop">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="tab" jdbcType="VARCHAR" property="tab" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="fansNum" jdbcType="INTEGER" property="fansnum" />
    <result column="loginName" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="isPass" jdbcType="INTEGER" property="ispass" />
  </resultMap>
  <resultMap id="ShopGoodResultMap" type="Shop" extends="BaseResultMap">
    <collection property="goodList" ofType="Good">
      <id column="good_id" property="id" />
      <result column="good_name" property="name" />
      <result column="good_pic" property="pic" />
      <result column="good_price" property="price" />
      <result column="good_info" property="info" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    shop.Id, shop.name, shop.info, shop.tab, shop.address, shop.grade, shop.head, shop.fansNum, shop.loginName, shop.phone, shop.email,
    shop.isPass
  </sql>
  <sql id="Shop_Good_Column_List">
    shop.Id, shop.name, shop.info, shop.tab, shop.address, shop.grade, shop.head, shop.fansNum, shop.loginName, shop.phone, shop.email,
    shop.isPass, good.id good_id, good.name good_name, good.pic good_pic, good.price good_price, good.info good_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ShopGoodResultMap">
    select 
    <include refid="Shop_Good_Column_List" />
    from shop
    LEFT  JOIN good on shop.id = good.shopid
    where
    shop.Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByExample" parameterType="Shop" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM shop
    <where>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="info != null">
        and info = #{info,jdbcType=VARCHAR}
      </if>
      <if test="tab != null">
        and tab = #{tab,jdbcType=VARCHAR}
      </if>
      <if test="loginname != null and loginname != ''">
        and loginName = #{loginname,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password != ''">
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="ispass != null">
        and isPass = #{ispass,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="selectByKeyWord" parameterType="string" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM shop
    WHERE shop.name LIKE '%${_parameter}%' OR shop.info LIKE '%${_parameter}%' OR shop.tab LIKE '%${_parameter}%'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop
    where Id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zjm.model.Shop">
    insert into shop (Id, name, info, 
      tab, address, grade, 
      head, fansNum, loginName, 
      password, phone, email, 
      isPass)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{tab,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{head,jdbcType=VARCHAR}, #{fansnum,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{ispass,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.zjm.model.Shop">
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="tab != null">
        tab,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="head != null">
        head,
      </if>
      <if test="fansnum != null">
        fansNum,
      </if>
      <if test="loginname != null">
        loginName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="ispass != null">
        isPass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="tab != null">
        #{tab,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="head != null">
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="fansnum != null">
        #{fansnum,jdbcType=INTEGER},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="ispass != null">
        #{ispass,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zjm.model.Shop">
    update shop
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="tab != null">
        tab = #{tab,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="head != null">
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="fansnum != null">
        fansNum = #{fansnum,jdbcType=INTEGER},
      </if>
      <if test="loginname != null">
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="ispass != null">
        isPass = #{ispass,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zjm.model.Shop">
    update shop
    set name = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      tab = #{tab,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      head = #{head,jdbcType=VARCHAR},
      fansNum = #{fansnum,jdbcType=INTEGER},
      loginName = #{loginname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      isPass = #{ispass,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <update id="decreateFansNum" parameterType="Integer">
    update shop set shop.fansNum = shop.fansNum - 1 where shop.id = #{id};
  </update>

  <update id="increateFansNum" parameterType="Integer">
    update shop set shop.fansNum = shop.fansNum + 1 where shop.id = #{id};
  </update>

  <update id="passShop" parameterType="int">
    UPDATE shop set shop.isPass = 1 where shop.id = #{id}
  </update>
</mapper>