<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zjm.model.User">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="regDate" jdbcType="DATE" property="regdate" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="count" jdbcType="FLOAT" property="count" />
    <result column="payPwd" jdbcType="VARCHAR" property="payPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, nickName, password, phone, email, regDate, sex, head, count, payPwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectUserByExample" parameterType="User" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM USER
    <where>
      <if test="id != null">
        and Id = #{id}
      </if>
      <if test="nickname != null">
        and nickName = #{nickname}
      </if>
      <if test="password != null">
        and password = #{password}
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
      <if test="email != null">
        and email = #{email}
      </if>
      <if test="sex != null">
        and sex = #{sex}
      </if>
      <if test="payPwd != null">
        and payPwd = #{payPwd}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjm.model.User">
    insert into user (Id, nickName, password, 
      phone, email, regDate, 
      sex, head, payPwd)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{regdate,jdbcType=DATE}, 
      #{sex,jdbcType=INTEGER}, #{head,jdbcType=VARCHAR}), #{payPwd}
  </insert>
  <insert id="insertSelective" parameterType="com.zjm.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="regdate != null">
        regDate,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="head != null">
        head,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null">
        #{regdate,jdbcType=DATE},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="head != null">
        #{head,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjm.model.User">
    update user
    <set>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null">
        regDate = #{regdate,jdbcType=DATE},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="head != null">
        head = #{head,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjm.model.User">
    update user
    set nickName = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      regDate = #{regdate,jdbcType=DATE},
      sex = #{sex,jdbcType=INTEGER},
      head = #{head,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCount" parameterType="int" resultType="float">
    SELECT COUNT from user where id = #{userId}
  </select>

  <update id="updateCount" parameterType="User">
    UPDATE user
    <set>
      <if test="count != null and count !=0">
        count = count - #{count}
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>